/* the centering on the page */
/* 
    gold: #e59a39;
    navy: #1c374e;
    light-gray: #f9f9f9;
    red: #cf2b1e;
    gray: #888888;
    teal: #1ea88e;
    black: #0c1212;

*/

#menu {
    background-color: #1c374e;
}

.navItem {
    color: #f9f9f9;
}


.home-page {
    height: 100%;
}

.get-started-button {
    color: white;
}
/* ==========================  FOOTER  ======================== */

/* TODO: find a better way to select footer. Id's should only be used once */
/* #footer {
    color: red;
    position: absolute;
    bottom: 0;
    width: 100%;
} */

/* ========================== MAP STYLE ======================== */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 400px;
    width: 600px;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* ==========================  ======================== */